<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Include meta tags -->
    {% include head.html %}
    <link href="/css/app.css" rel="stylesheet" media="all" />
    <link href="/css/guide.css" rel="stylesheet" media="all" />
  </head>
  <body class="offcanvas--push pg-{{ page.slug }}">

    <!-- Header section -->
    {% include header-guide.html %}

    <!-- Content block, child page inject content -->
    <main class="main" id="main" role="main">
    {{ content }}
    </main>

    <!-- Footer section -->
    {% include footer.html %}

    <!-- JS Includes -->
    {% include foot.html %}
  </body>
</html>