<!DOCTYPE html>
<html class="no-js">
  <head>
    <!-- Include meta tags -->
    {% include head.html %}

  <!-- build:css({app,.tmp}) /css/guide.css -->
  <link href="/css/guide.css" rel="stylesheet" media="all" />
  <!-- endbuild -->

  </head>
  <body class="pg-{{ page.slug }}">

    <!-- Header section -->
    {% include header-guide.html %}

    <!-- Content block, child page inject content -->
    <main class="main offcanvas--squish offcanvas--squish-left" id="main" role="main">
      {{ content }}

      <!-- Footer section -->
      {% include footer.html %}
    </main>

    <!-- JS Includes -->
    {% include foot.html %}
    
  </body>
</html>