@font-face {
  font-family: 'BLOKKNeue';
  src: url('../fonts/BLOKKNeue-Regular.eot');
  src: url('../fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BLOKKNeue-Regular.woff') format('woff'), url('../fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

.wf-loading .logo, .wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading li, .wf-loading dt, .wf-loading dd, .wf-loading td, .wf-loading th, .wf-loading small {
  visibility: hidden !important; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  text-align: left;
  text-indent: -999em;
  overflow: hidden; }
  .ir br {
    display: none; }

.hide {
  display: none; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.clear {
  clear: both; }

.group, .clearfix, .grid, .combined-grid {
  zoom: 1; }
  .group:before, .clearfix:before, .grid:before, .combined-grid:before, .group:after, .clearfix:after, .grid:after, .combined-grid:after {
    content: " ";
    display: table; }
  .group:after, .clearfix:after, .grid:after, .combined-grid:after {
    clear: both; }

.swatch p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.primary * {
  font-family: Georgia, serif; }

.secondary * {
  font-family: sans-serif; }

.color1 {
  background: #FFFFFF; }

.color2 {
  background: #DDDDDD; }

.color3 {
  background: #AAAAAA; }

.color4 {
  background: #666666; }

.color5 {
  background: #333333;
  color: #DDDDDD; }

.color6 {
  background: #d13731; }

.color7 {
  background: #44b3e1; }

.logo {
  margin-bottom: 0; }
  .logo img {
    width: 100%;
    max-width: 240px; }
  .logo span {
    display: block; }

.horizontal-nav--guide {
  padding-top: 0; }
  .horizontal-nav--guide ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.2s linear;
    transition: max-height 0.2s linear; }
    .horizontal-nav--guide ul.opened {
      max-height: 2000px; }
  .horizontal-nav--guide a {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1; }

.pg-brand .primary__brand a, .pg-usage .primary__usage a, .pg-grid .primary__grid a, .pg-elements .primary__elements a, .pg-modules .primary__modules a, .pg-components .primary__components a, .pg-templates .primary__templates a {
  color: #FFFFFF;
  cursor: default; }

.main .horizontal-nav--guide {
  margin: 1.5rem 0; }

.header {
  padding-top: 1.5rem; }

p, dd {
  max-width: 48em; }

figure p, .colors p {
  max-width: none; }

.more {
  clear: both; }

.type-sample p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.25rem;
  letter-spacing: 0.1em; }

.colors {
  background: #fff; }

.swatch {
  position: relative;
  display: block;
  height: 7.5rem;
  text-align: center;
  font-family: sans-serif; }

.iconset ul {
  list-style: none; }

.grids .container hr {
  clear: both; }
.grids .folding {
  margin-bottom: 24;
  height: 15rem;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }
  .grids .folding span {
    display: block;
    width: 100%;
    height: 15rem;
    background: #333333; }
.grids h2 {
  clear: both; }

.grid.grid--3-6-12 .three {
  width: 33.33333%;
  display: block !important; }
.grid.grid--3-6-12 .six, .grid.grid--3-6-12 .twelve {
  display: none; }
.grid.grid--2-4-8 .two {
  width: 50%;
  display: block !important; }
.grid.grid--2-4-8 .four, .grid.grid--2-4-8 .eight {
  display: none; }
.grid.grid--3-5-7 .three {
  width: 33.33333%;
  display: block !important; }
.grid.grid--3-5-7 .five, .grid.grid--3-5-7 .seven {
  display: none; }
.grid.grid--4-8-16 .four {
  width: 25%;
  display: block !important; }
.grid.grid--4-8-16 .eight, .grid.grid--4-8-16 .sixteen {
  display: none; }

.combined-grid {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 0; }
  .combined-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0.3;
    padding: 0 !important; }

.scale {
  max-width: 30em; }
  .scale td {
    padding: 0; }

.key {
  font-weight: 700; }

@media only screen and (min-width: 48em) {
  .logo {
    float: left;
    margin-top: 0; }
    .logo span {
      display: inline; }
  .tagline {
    float: left;
    margin-top: 1rem; }
  .horizontal-nav {
    clear: both; }
    .horizontal-nav .trigger {
      display: none; }
    .horizontal-nav ul {
      max-height: none; }
  .paragraphs {
    width: 75%; }
  .type-sample p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5; }
  .iconset {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 50%;
    float: left; }
  .secondary-nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    float: left;
    width: 20%; }
  .primary-content {
    width: 80%; }
  .grid {
    padding: 0 !important; }
    .grid.grid--2-4-8 .four {
      width: 25%;
      display: block !important; }
    .grid.grid--2-4-8 .eight {
      display: none; }
    .grid.grid--3-5-7 .five {
      width: 20%;
      display: block !important; }
    .grid.grid--3-5-7 .seven {
      display: none; }
    .grid.grid--3-6-12 .six {
      width: 16.66667%;
      display: block !important; }
    .grid.grid--3-6-12 .twelve {
      display: none; }
    .grid.grid--4-8-16 .eight {
      width: 12.5%;
      display: block !important; }
    .grid.grid--4-8-16 .sixteen {
      display: none; }
  .callouts .callout {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    float: left;
    width: 50%; }
    .callouts .callout:nth-child(odd) {
      clear: both; } }

@media only screen and (min-width: 64em) {
  .split-content {
    width: 50%;
    float: left; }
  .primary-content {
    margin-left: 0; } }

@media only screen and (min-width: 98em) {
  .type-sample p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5; }
  .paragraphs {
    width: 50%; }
  .iconset {
    width: 33.33333%; } }

@media only screen and (min-width: 110em) {
  .grid.grid--2-4-8 .eight {
    width: 12.5%;
    display: block !important; }
  .grid.grid--3-5-7 .seven {
    width: 14.28571%;
    display: block !important; }
  .grid.grid--3-6-12 .twelve {
    width: 8.33333%;
    display: block !important; }
  .grid.grid--4-8-16 .sixteen {
    width: 6.25%;
    display: block !important; }
  .callouts .callout {
    width: 25%; }
    .callouts .callout:nth-child(odd) {
      clear: none; } }

/*# sourceMappingURL=guide.css.map */

