/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 6, ../../scss/prototype/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 7, ../../scss/prototype/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 8, ../../scss/prototype/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 9, ../../scss/prototype/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* line 16, ../../scss/prototype/_normalize.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 23, ../../scss/prototype/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/* line 31, ../../scss/prototype/_normalize.scss */
body {
  min-height: 100%;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/* line 39, ../../scss/prototype/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 40, ../../scss/prototype/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 42, ../../scss/prototype/_normalize.scss */
figure img {
  max-width: 100%;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 52, ../../scss/prototype/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../../scss/prototype/_normalize.scss */
td {
  vertical-align: top;
}

/* line 1, ../../scss/prototype/_layout.scss */
.container {
  margin: 0 5.55556%;
  padding: 12px;
  position: relative;
  overflow: hidden;
}

/* line 1, ../../scss/prototype/_typography.scss */
body {
  font-family: "Helvetica Neue", sans-serif;
  color: #3a3a3c;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 7, ../../scss/prototype/_typography.scss */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}

/* line 10, ../../scss/prototype/_typography.scss */
h2 {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.2;
}

/* line 13, ../../scss/prototype/_typography.scss */
h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* line 16, ../../scss/prototype/_typography.scss */
h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.14286;
}

/* line 19, ../../scss/prototype/_typography.scss */
h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

/* line 25, ../../scss/prototype/_typography.scss */
p,
ul,
ol {
  margin-bottom: 24px;
}

/* line 30, ../../scss/prototype/_typography.scss */
ul,
ol {
  padding-left: 1em;
}

/* line 34, ../../scss/prototype/_typography.scss */
nav ul {
  list-style: none;
  padding: 0;
}
/* line 37, ../../scss/prototype/_typography.scss */
nav ul li {
  background: transparent;
}

/* line 42, ../../scss/prototype/_typography.scss */
a {
  font-weight: 700;
  text-decoration: none;
}

/* line 48, ../../scss/prototype/_typography.scss */
.content,
li {
  background: url("/img/prototype/text.png");
}

/* line 51, ../../scss/prototype/_typography.scss */
.map {
  background: url("/img/prototype/map.jpg") center center;
}

/* line 54, ../../scss/prototype/_typography.scss */
.hero {
  background: #babaae url("/img/prototype/img.jpg") no-repeat center center;
}

/* line 5, ../../scss/prototype/_forms.scss */
label {
  clear: both;
  display: block;
  font-weight: 700;
}

/* line 11, ../../scss/prototype/_forms.scss */
.field {
  clear: both;
  margin-bottom: 12px;
  position: relative;
}

/* line 29, ../../scss/prototype/_forms.scss */
input[type="text"], textarea,
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="datetime-local"],
input[type="number"],
input[type="color"] {
  border: 1px solid #babaae;
  font-family: "Helvetica Neue", sans-serif;
  display: block;
  outline: 0;
  width: 100%;
  color: #3a3a3c;
  margin-bottom: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 41, ../../scss/prototype/_forms.scss */
textarea {
  height: auto;
  min-height: 192px;
}

/* line 47, ../../scss/prototype/_forms.scss */
select {
  margin-bottom: 12px;
}

/* line 1, ../../scss/prototype/readymade/_header.scss */
#header {
  background: #3a3a3c;
  color: white;
  padding: 12px;
}
/* line 7, ../../scss/prototype/readymade/_header.scss */
#header a:link,
#header a:visited {
  color: white;
}
/* line 11, ../../scss/prototype/readymade/_header.scss */
#header a:hover,
#header a:active {
  color: #dbdbd2;
}

/* line 1, ../../scss/prototype/readymade/_footer.scss */
#footer {
  background: #3a3a3c;
  color: white;
  padding: 12px;
}
/* line 7, ../../scss/prototype/readymade/_footer.scss */
#footer a:link,
#footer a:visited {
  color: white;
}
/* line 11, ../../scss/prototype/readymade/_footer.scss */
#footer a:hover,
#footer a:active {
  color: #dbdbd2;
}

/* line 2, ../../scss/prototype/readymade/_nav.scss */
.primary-nav,
.footer-nav {
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../../scss/prototype/readymade/_nav.scss */
.primary-nav li,
.footer-nav li {
  float: left;
}
/* line 7, ../../scss/prototype/readymade/_nav.scss */
.primary-nav a,
.footer-nav a {
  display: block;
  padding-right: 12px;
}

/* line 12, ../../scss/prototype/readymade/_nav.scss */
.search {
  max-width: 240px;
}

/* line 1, ../../scss/prototype/readymade/_offcanvas.scss */
.offcanvas {
  background: #babaae;
  color: white;
  display: none;
  padding: 12px;
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../../scss/prototype/readymade/_blog.scss */
article {
  margin-bottom: 48px;
}

/* line 5, ../../scss/prototype/readymade/_blog.scss */
.articles .content {
  height: 240px;
}

/* line 9, ../../scss/prototype/readymade/_blog.scss */
.archive-year {
  margin-bottom: 48px;
}
/* line 11, ../../scss/prototype/readymade/_blog.scss */
.archive-year .content {
  height: 72px;
}

/* line 16, ../../scss/prototype/readymade/_blog.scss */
.news-detail-pg .content {
  height: 2400px;
}

@media only screen and (min-width: 45em) {
  /* line 23, ../../scss/prototype/readymade/_blog.scss */
  .articles article,
  .news-detail-pg article {
    margin-left: 25%;
    width: 50%;
    padding: 0 12px;
    padding: 0 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 28, ../../scss/prototype/readymade/_blog.scss */
  .archive-year {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 30, ../../scss/prototype/readymade/_blog.scss */
  .archive-year article {
    width: 25%;
    float: left;
    padding: 0 12px;
    padding: 0 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 1, ../../scss/prototype/custom/_header.scss */
.request {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 6, ../../scss/prototype/custom/_header.scss */
.request a {
  display: block;
  padding: 0 8px;
}
/* line 11, ../../scss/prototype/custom/_header.scss */
.request a:link, .request a:visited {
  background: #babaae;
}
/* line 15, ../../scss/prototype/custom/_header.scss */
.request a:hover, .request a:active {
  background: red;
}

/* line 20, ../../scss/prototype/custom/_header.scss */
.search {
  position: absolute;
  top: 36px;
  right: 24px;
}

/* line 25, ../../scss/prototype/custom/_header.scss */
.offcanvas {
  padding: 12px 5.55556%;
}

@media only screen and (min-width: 45em) {
  /* line 30, ../../scss/prototype/custom/_header.scss */
  .offcanvas form {
    margin-left: 25%;
    width: 50%;
    padding: 0 12px;
    padding: 0 0.75rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 12, ../../scss/prototype/custom/_layout.scss */
.intro {
  margin-bottom: 96px;
}
/* line 14, ../../scss/prototype/custom/_layout.scss */
.intro .content {
  height: 96px;
}

/* line 21, ../../scss/prototype/custom/_layout.scss */
.location .content {
  height: 96px;
}

/* line 26, ../../scss/prototype/custom/_layout.scss */
.page-content .content {
  height: 288px;
}

/* line 31, ../../scss/prototype/custom/_layout.scss */
.results li {
  background: transparent;
  margin-bottom: 24px;
}
/* line 35, ../../scss/prototype/custom/_layout.scss */
.results .content {
  height: 72px;
}

/* line 44, ../../scss/prototype/custom/_layout.scss */
.home-pg .hero {
  height: 480px;
}

/* line 50, ../../scss/prototype/custom/_layout.scss */
.appointments-pg .map {
  height: 240px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 45em) {
  /* line 59, ../../scss/prototype/custom/_layout.scss */
  .intro {
    width: 50%;
  }
}
