{% extends "_layouts/guide.html" %}
{% block page %}
<header class="row">
  <h1>Templates</h1>
  <p class="lead">All the page templates that make up your site or app.</p>
</header>
<section class="row">
  <nav class="vertical-nav">
    <ul>
      <li><a href="/">Your project index page</a></li>
    </ul>
  </nav>
  <h2>Example templates</h2>
  <p></p>
  <nav class="vertical-nav">
    <ul>
      <li><a href="/example/">Home</a></li>
      <li><a href="/example/about/">About</a></li>
      <li><a href="/example/news/">News</a></li>
      <li><a href="/example/news/detail/">Article</a></li>
      <li><a href="/example/news/archive/">News archive</a></li>
      <li><a href="/example/contact/">Contact</a></li>
    </ul>
  </nav>
</section>
{% endblock %}
