// Base theme colors
@import "settings/colors";

// Includes
@import "settings/includes";

// Live Wires visual styles
.content{
  p,
  li,
  dd {
    line-height: 1.25;
    letter-spacing:-0.1em;
    word-spacing: -0.9em;
    font-family: "BLOKKNeue-Regular";
    color: #BABAAE;

    > * {
      word-spacing: 0;
      letter-spacing: 0;
    }

  }
}

// If you don't have content, shame on you.
// Here's a little handy set of classes to help you anyway.
// Just add a line class to your container and we'll fill it with the text placeholder image.
//
// eg) class="l5" would render 5 lines of text placeholder images
@for $i from 1 through 100 {
  .l#{$i} { height:$line* $i; background: url('../img/livewires/text.png'); }
  .l#{$i} > p { visibility: hidden; }
}


