//* =============================================================================
//   Default Colours
//   ========================================================================== */

$white: #ffffff;
$dark-grey:#3A3A3C;
$grey: #BABAAE;
$light-grey: #DBDBD2;

///* =============================================================================
//   Borders
//   ========================================================================== */

$solid: 1px solid $grey;

///* =============================================================================
//   Font Stacks
//   ========================================================================== */


$serif: Georgia, serif;
$sans: "Helvetica Neue", sans-serif;

// FONT WEIGHTS 

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;


///* =============================================================================
//   Base Sizes
//   ========================================================================== */

$line-n: 24;
$base: 16;

$line: $line-n * 1px;
$margin: 100% / 18;


///* =============================================================================
//   Grid
//   ========================================================================== */


//Four Columns
$c4: 25%;

//Eight Columns
$c8: 12.5%;

//Sixteen Columns
$c16: 6.25%;



///* =============================================================================
//   Breakpoints
//   ========================================================================== */

$screenSmall: 45em !default;
$screenMedium: 80em !default;
$screenLarge: 112em !default;
$screenXlarge: 150em !default;