// KEYLINES, RULES, & DIVIDERS

hr {
  clear:both;
  height: 0;
  margin-top: rem($line);
  margin-bottom: rem($line);
  border: 0;
  border-top: $rule;
}
.rule--light {
  border-top:$hairline;
}
.rule--red {
  border-top:$accentline;
}
.rule--white {
  border-top:$whiteline;
}