// IMAGES

// Let's make those images responsive. I like to wrap my images, maps, and videos in <figure> tags.
// It makes sense semantically, and gives us a flexible container.
//
// Example:
// <figure>
//      <img src="cool-thing.jpg" alt="Cool thing" />
//      <figcaption>Cool thing caption.
//          <footer class="source">Photograph by <a href="#">Rad Person</a> at <cite><a href="#">NY Times</a></cite></footer>
//      </figcaption>
// </figure>

img {
  max-width: 100%;
  height: auto;
}
figure {
  position:relative;
  margin-bottom: rem($line);

  > img,
  > iframe {
    display: block;
    margin:0;
  }
}
figcaption {

  .source {
    // Stack caption source on mobile sizes
    display: block;
  }
}



@media only screen and (min-width: $screenSmall) {
  // Image position helpers. Let's kick 'em in at larger screen widths
  .img--right{
    margin-bottom: rem($line/2);
    margin-left: rem($line/2);
    float: right;
  }
  .img--left{
    margin-bottom: rem($line/2);
    margin-right: rem($line/2);
    float: left;
  }
  .img--center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: rem($line/2);
  }

  // Let's move those caption sources to the right at wider sizes
  figcaption {
    .source {
      float:right;
      text-align: right;
    }
  }
}