// BUTTON COLORS

button,
input[type="submit"],
.button,
a.button {
  background:$text;
  color:$background;

  &:hover {

  }

  &:active,
  &:focus {
    background-color: $accent;
    color:$background;
  }
}

// Button color variations
.button--red,
a.button--red {
  background:$red;
  color: $background;

  &:active,
  &:focus {
    background-color: $text;
  }
}

.button--blue,
a.button--blue {
  background:$blue;
  color: $background;

  &:active,
  &:focus {
    background-color: $text;
  }
}

.button--grey,
a.button--grey {
  background:$mid-text;
  color: $background;

  &:active,
  &:focus {
    background-color: $text;
  }
}

// Disabled button styles
a.button--disabled,
a.button--disabled:hover,
a.button--disabled:active,
a.button--disabled:focus,
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color:$light-text !important;
  color: $mid-text !important;
}