// CODE COLORS

code,
pre {
	@include selected($background, $light-text);
	background:$text;
	color: $background;
}

.reverse {
	code,
	pre {
		background:darken($text, 5);
	}
}

.subtle {
	:not(pre) > code {
		background:$background;
	}
}

//Inline code
:not(pre) > code {
	background: $dark-background;
	color:$text;
}

.token.comment {
	color:$mid-text;
}
.token.prolog,
.token.doctype,
.token.cdata {
	color: $light-text;
}

.token.punctuation {
	color: $light-text;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: $light-text;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: $background;
	//background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: $background;
}

.token.regex,
.token.important {
	color: $background;
}
.line-numbers-rows > span:before {
	color: $light-text;
}
