a:link,
a:visited {
    .fa-adn,
    .fa-apple,
    .fa-bitbucket,
    .fa-bitbucket-square,
    .fa-dribbble,
    .fa-facebook,
    .fa-facebook-square,
    .fa-flickr,
    .fa-foursquare,
    .fa-github,
    .fa-github-alt,
    .fa-github-square,
    .fa-google-plus,
    .fa-google-plus-square,
    .fa-instagram,
    .fa-linkedin,
    .fa-linkedin-square,
    .fa-pinterest,
    .fa-pinterest-square,
    .fa-renren,
    .fa-skype,
    .fa-tumblr,
    .fa-tumblr-square,
    .fa-twitter,
    .fa-twitter-square,
    .fa-vimeo,
    .fa-vimeo-square,
    .fa-vk,
    .fa-weibo,
    .fa-xing,
    .fa-xing-square,
    .fa-youtube,
    .fa-youtube-play,
    .fa-youtube-square,
    .fa-link {
        color:$text;
    }

}
a:hover,
a:active,
a:focus {
    .fa-adn {
        color: $adn;
    }
    .fa-apple {
        color:$apple;
    }
    .fa-bitbucket,
    .fa-bitbucket-square {
        color: $bitbucket;
    }
    .fa-dribbble {
        color:$dribbble;
    }
    .fa-facebook,
    .fa-facebook-square {
        color: $facebook;
    }
    .fa-flickr {
        color:$flickr;
    }
    .fa-foursquare {
        color:$foursquare;
    }
    .fa-github,
    .fa-github-alt,
    .fa-github-square {
        color:$github;
    }
    .fa-google-plus,
    .fa-google-plus-square {
        color:$googleplus;
    }
    .fa-instagram {
        color:$instagram;
    }
    .fa-linkedin,
    .fa-linkedin-square {
        color: $linkedin;
    }
    .fa-pinterest,
    .fa-pinterest-square {
        color: $pinterest;
    }
    .fa-renren {
        color: $renren;
    }
    .fa-skype {
        color:$skype;
    }
    .fa-tumblr,
    .fa-tumblr-square {
        color: $tumblr;
    }
    .fa-twitter,
    .fa-twitter-square {
        color:$twitter;
    }
    .fa-vimeo,
    .fa-vimeo-square {
        color: $vimeo;
    }
    .fa-vk {
        color: $vk;
    }
    .fa-weibo {
        color: $weibo;
    }
    .fa-xing,
    .fa-xing-square {
        color: $xing;
    }
    .fa-youtube,
    .fa-youtube-play,
    .fa-youtube-square {
        color: $youtube;
    }
}