// LAYOUT BLOCK COLOURS

//Default colors
body {
  background:$background;
  color:$text;
}

// Reverse the colours
.reverse {
  @include font-smoothing(on);
  background:$text;
  color:$background;
}

// Subtly highlighted section
.subtle {
  background:$dark-background;
}