<div class="trigger--guide js-open-canvas reverse active"><a href="#offcanvas"><i class="fa fa-bars"></i><strong>Menu</strong></a></div>

<header class="offcanvas--left offcanvas--open reverse" id="offcanvas">
  <a href="/guide/" class="logo"><img src="/img/logo-reverse.svg" alt="Live Wires logo" /></a>

  <nav class="clear">
    <ul>
      <li class="primary__welcome"><a href="/guide/">Usage</a>
      </li>
      <li class="primary__brand"><a href="/guide/identity/">Identity</a>
      </li>
      <li class="primary__grid"><a href="/guide/layout/">Layout</a>
      </li>
      <li class="primary__elements"><a href="/guide/elements/">Elements</a>
      </li>
      <li class="primary__components"><a href="/guide/components/">Components</a>
      </li>
      <li class="primary__modules"><a href="/guide/modules/">Modules</a>
      </li>
      <li class="primary__templates"><a href="/guide/templates/">Templates</a>
      </li>
    </ul>
  </nav>
</header>