<header class="row row--header reverse" id="header">
  <h1 class="logo"><a href="usage/">{% if global.logo %}<img src="{{ global.logo }}" alt="{{ global.title }}" />{% else %}{{ global.title }}{% endif %}</a></h1>
  <nav class="horizontal-nav horizontal-nav--guide collapse">
    <p class="trigger"><a href="#primary" class="js-reveal">Menu</a></p>
    <ul id="primary">
      <li class="primary__usage"><a href="usage/">Usage</a></li>
      <li class="primary__grid"><a href="grid/">Grid</a></li>
      <li class="primary__brand"><a href="brand/">Brand</a></li>
      <li class="primary__elements"><a href="elements/">Elements</a></li>
      <li class="primary__components"><a href="components/">Components</a></li>
      <li class="primary__modules"><a href="modules/">Modules</a></li>
      <li class="primary__templates"><a href="templates/">Templates</a></li>
    </ul>
  </nav>
</header>