// LINKS

a {

  &:link,
  &:visited {

  }
  &:hover,
  &:active,
  &:focus {

  }
}

a.disabled {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    text-decoration: none;

    &:link,
    &:visited {

    }
    &:hover,
    &:active,
    &:focus {

    }
  }
}

sup,
sub {
  a {
    text-decoration: none;
  }
}

.more {
  a {

    span {

    }
  }
}