// LISTS

ul,
ol,
dl {
  margin:rem(0 0 $line 0);
  padding:0;

  ul,
  ol {
    margin-bottom: 0;
    padding-left: rem($line);
  }
}

dt {
  font-weight: $bold;
}
dd {
  margin-left:0;
  margin-bottom: rem($line);
}
nav {
  ul {
  list-style: none;
  }
}