// PARAGRAPHs
//
// Modular scales are your friend, my friend:
// http://modularscale.com  |  https://vimeo.com/17079380

body {
  @include font-size;
  font-family: $serif;
}

p {
  margin:rem(0 0 $line/2 0);
  hyphens: auto;
}

.lead {
  @include font-size(18, $line); // using the $line variable makes it easy to stick to a baseline grid.
}

.tagline {

}

.content {
  p {
      hyphens: auto;
  }
  // Use indented paragraphs if variable in ~/settings/_variables.scss is set to true
  @if $indented-paragraphs == true {
    p:not(.lead) {
      margin-bottom: 0;

      &:not(.lead) + p {
          text-indent: 1em;
      }
    }
  }
}

b,
strong {
  font-weight: $bold;
}

i,
em {
  font-style: italic;
}

abbr {
  cursor: help;

  &.acr {

  }
}

sup {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  bottom: .5ex;
}

sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
  bottom: -.5ex;
}

// Fancy ampersands
// Uncomment the script in /source/coffee/components/_typography.coffee to automate markup.
// EG) <p>You <abbr class="amp">&amp;</abbr> I.</p>

.amp {
  font-style: italic;
}

.price {
  &:first-letter {
    height: 0;
    line-height: 2;
    vertical-align: top;
    position: relative;
    font-size: 0.6667em;
  }
}



