label {
	clear:both;
	display:block;
	font-weight:$bold;
}

.field {
	clear:both;
	margin-bottom: $line/2;
	position:relative;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="datetime-local"],
input[type="number"],
input[type="color"] {
	border: $solid;
	font-family:$sans;
	display:block;
	outline:0;
	width:100%;
	color:$dark-grey;
	margin-bottom: $line/2;
	padding:$line/2;
	font-size: 16px;
	@include border-radius;
}

textarea {
	@extend input[type="text"];
	height: auto;
	min-height: $line*8;
}

select {
	margin-bottom: $line/2;
}
