// Set some simple defaults for sections. Creates margins with a half-gutter on either side.
.container {
	margin: 0 $margin;
	padding:$line/2;
	position:relative;
	overflow:hidden;
}

// Resizable images
figure {
    margin-bottom: $line;

    img {
        max-width: 100%;
    }
}