// Base
body {
	font-family: $sans;
	color: $dark-grey;
	@include font-size(16, 24);
}

// Headings
h1 {
	@include font-size(36, 48);
}
h2 {
	@include font-size(30, 36);
}
h3 {
	@include font-size(24, 36);
}
h4 {
	@include font-size(21, 24);
}
h5 {
	@include font-size(18, 24);
}

// Paragraphs & Lists
p,
ul,
ol {
	margin-bottom: $line;
}

ul,
ol {
	padding-left: 1em;
}

.content,
li {
	background: url('../img/livewires/text.png');
}

nav ul {
	list-style: none;
	padding:0;
	
	li {
		background:transparent;
	}
}

// Links
a {
	font-weight: $bold;
	text-decoration: none;

	&:link,
	&:visited {
		color:$blue;
	}

	&:hover,
	&:active {
		color: $red;
	}
}


// Other
hr {
	margin:$line 0;
}