//* =============================================================================
//   Default Colours
//   ========================================================================== */

$white: #ffffff;
$dark-grey:#3A3A3C;
$grey: #BABAAE;
$light-grey: #DBDBD2;
$highlightColor: yellow;
$blue: #44b3e1;
$red: #d13731;

///* =============================================================================
//   Borders
//   ========================================================================== */

$solid: 1px solid $grey;

///* =============================================================================
//   Font Stacks
//   ========================================================================== */


$serif: Georgia, serif;
$sans: "Helvetica Neue", sans-serif;

// FONT WEIGHTS 

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;


///* =============================================================================
//   Base Sizes
//   ========================================================================== */

$line-n: 24;
$base: 16;

$line: $line-n * 1px;
$margin: 100% / 18;


///* =============================================================================
//   Grid
//   ========================================================================== */

//Loosely based on the principles outined at http://goldengridsystem.com

//Four Columns
$c4: 100%/4;

//Eight Columns
$c8: 100%/8;

//Sixteen Columns
$c16: 100%/16;



///* =============================================================================
//   Breakpoints
//   ========================================================================== */

$screenSmall: 45em !default;
$screenMedium: 80em !default;
$screenLarge: 112em !default;
$screenXlarge: 150em !default;