//BUTTONS

// A collection of button styles for buttons elements, button inputs, and button links.
//
// Start with a .button class and add modifiers classes to er, modify them.
//
// Example:
// <a href="#" class="button button--large">Large Button text</a>



// Large buttons
a.button--large,
.button--large {
  font-size:1.5em;
}

// Small buttons
a.button--small,
.button--small {
  font-size:0.75em;
}

// Button color variations
.button--red,
a.button--red {
  background:$red;
  color: $background;

  &:link,
  &:visited {
    background:$red;
    color: $background;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $text;
  }
}

.button--blue,
a.button--blue {
  background:$blue;
  color: $background;

  &:link,
  &:visited {
    background:$blue;
    color: $background;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $text;
  }
}

.button--grey,
a.button--grey {
  background:$mid-text;
  color: $background;

  &:link,
  &:visited {
    background:$mid-text;
    color: $background;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $text;
  }
}
