<!-- Script block allowing child pages to inject their own scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

<!-- build:js js/vendor.js -->
<script src="/_bower_components/fitvids/jquery.fitvids.js"></script>
<!-- endbuild -->

<!-- build:js js/app.js -->
<script src="/js/drawers.js"></script>
<script src="/js/forms.js"></script>
<script src="/js/media.js"></script>
<script src="/js/offcanvas.js"></script>
<script src="/js/scroll.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/typography.js"></script>
<!-- endbuild -->