<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/app.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
<meta name="description" content="{{ global.tagline }}">

<!-- global Open Graph tags -->
<meta property="og:title" content="{{ global.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ global.avatar }}" />
<meta property="og:description" content="{{ global.tagline }}" />
<meta property="og:url" content="http://{{ global.domain }}" />
<meta property="og:site_name" content="{{ global.title }}" />

<!-- Twitter social tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="http://{{ global.domain }}" />
<meta name="twitter:site" content="{{ global.twitter }}">