<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="initial-scale=1.0">

    <!-- Title block allowing child pages to override -->
  <title>{{ page.title }} {{ site.title }}</title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <link href="/css/app.css" rel="stylesheet" media="all" />

  <!-- Fontawesome icons. Remove if not using -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  <link rel="canonical" href="">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png" />
 

  <meta name="description" content="{{ global.tagline }}">

  <!-- global Open Graph tags -->
  <meta property="og:title" content="{{ global.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ global.avatar }}" />
  <meta property="og:description" content="{{ global.tagline }}" />
  <meta property="og:url" content="http://{{ global.domain }}" />
  <meta property="og:site_name" content="{{ global.title }}" />

  <!-- Twitter social tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="http://{{ global.domain }}" />
  <meta name="twitter:site" content="{{ global.twitter }}">
</head>