article {
	margin-bottom: $line*2;
}
.articles {
	.content {
		height:$line*10;
	}
}
.archive-year {
	@extend .group;
	margin-bottom: $line*2;

	.content {
		height:$line*3;
	}
}
.news-detail-pg {
	.content {
		height:$line*100;
	}
}

@media only screen and (min-width: $screenSmall) {

	.articles article,
	.news-detail-pg article {
		@include wrap;
		margin-left:$c8*2;
		width:$c8*4;
	}

	.archive-year {
		article {
			@include wrap;
			width:$c8*2;
			float:left;
		}
	}
}