// Add this class to make the element 100% the height of the viewport
.cover {
  position: relative;
  height: 100%;
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
}