// LAYOUT
// Setup your layout blocks here. We've included a few examples, but encourage
// you to create your own.

@media only screen and (min-width: $screenSmall) {

// Add some layout modules here. Here are some examples:
//
// Markup example:
// <section class="row">
//    <section class="primary-content">
//        … Main page stuff …
//    </section>
//    <aside class="secondary-content">
//        … Secondary content (sidebar perhaps?) …
//     </aside>
// </section>

  .primary-content {
    width:$c5*3; // Creates an object that's 3/5 the width of its parent
    float:left;  // Float this block to the left

  }
  .secondary-content {
    width:$c5*2; // Creats an object that's 2/5 the width of its parent
    float:left;
  }
  .split-content {
    width:$c4*2; // Creates objects that are 1/2 the width of its parent
    float:left;
  }
  .three-up {
    width:$c3; // Creates objects that are 1/3 the width of its parent
    float:left;
  }
}

@media only screen and (min-width: $screenMedium) {
  .primary-content {
    width:$c7*4; // Change grid as you move up: Four units of a 7-column grid
  }
  .secondary-content {
    width: $c4; // Uses a 1/4 unit-grid for a more complex compound grid https://gridsetapp.com/specs/gerstner/
  }
}

@media only screen and (min-width: $screenLarge) {

}
@media only screen and (min-width: $screenXlarge) {

}