// Resposive images
figure {
    margin-bottom: $line;

    > img {
		display: block;
		max-width: 100%;
		height: auto;
    }
}

.img--right{
	@include rem(margin-bottom, $line);
	@include rem(margin-left, $line);
	float: right;
}
.img--left{
	@include rem(margin-bottom, $line);
	@include rem(margin-right, $line);
	float: left;
}
.img--center{
	@include rem(margin-bottom, $line);
	display: block;
	margin-right: auto;
	margin-left: auto;
}
