////////// GRID INSTRUCTIONS //////////
//
// $c[total colums]*[width of element]
//
// EG) width: $c8*3; is equal to 3 columns in an 8 column grid.
//
// By default you can use a 4, 8, or 16 columns grid. Add your own in prototype/_variables.scss


// General Style

.benefits,
.examples {
	background:$dark-grey;
	color:$white;
}
.container {
	padding-top: 48px;
	padding-bottom: 48px;
}




@media only screen and (min-width: $screenSmall) {
	.container {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.primary {
		@include wrap;
		float:left;
		width:$c8*4;
	}
	.github {
		float:right;
		margin-top: 24px;
	}
	.callout {
		@include wrap;
		float:right;
		width:$c8*3;
	}
}