// SEPCIAL FIELD COLORS

.option-buttons label,
.pill-buttons label,
.ui-slider,
.switch {
  background:$text;
}

.option-buttons .checked,
.pill-buttons .checked,
.ui-slider-handle {
  background: $accent;
}

.option-buttons label,
.pill-buttons label,
.switch label {
  color: $background;
}

.switch span:last-child {
  border-color: $text;
  box-shadow: 2px 0 10px 0 rgba(0,0,0,0.07),1000px 0 0 980px black, -2px 0 10px 0 rgba(0,0,0,0.07), -1000px 0 0 1000px $accent;
}