// CODE
//
// We use Prism.js to add syntax highlighting and line numbers.
// Visit http://prismjs.com/ to configure the languages and plugins you require.
// Change the syntax colors in theme/code.scss

// Default code block styling
code,
pre,
kbd {
  @extend .small;
  font-family: $mono;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}

// Code blocks
pre {
  padding:rem($line);
  margin-bottom: rem($line);
  overflow: auto;
  > code {
    margin:0;
  }
}

//Inline code
:not(pre) > code,
kbd {
  padding:rem(3 4 1 4);
  font-size: 1em;
}

.namespace {
  opacity: .7;
}
.token.important {
  font-weight: $bold;
}
.token.entity {
  cursor: help;
}

// Add line numbers to <pre> blocks with a line-numbers class
pre.line-numbers {
  position: relative;
  counter-reset: linenumber;
}
pre.line-numbers > code {
  position: relative;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: rem($line*-1);
  width: rem($line*2); /* works for line-numbers below 1000 lines */
  border-right: $hairline;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  display: block;
  padding-right: rem($line/2);
  text-align: right;
}
