// VIDEOS

// Let's use the same syntax as imaegs, but add a .video class so fitvids.js can make them responsive.

// Example:
// <figure class="video">
//      <iframe Some cool video's embed code></iframe>
//      <figcaption>Cool thing caption.
//          <footer class="source">Photograph by <a href="#">Rad Person</a> at <cite><a href="#">NY Times</a></cite></footer>
//      </figcaption>
// </figure>

.video {

}