.request {
	position:absolute;
	top:0;
	right:0;

	a {
		
		display: block;
		padding: 0 $line/3;
		&:link,
		&:visited {
			background:$grey;
		}
		&:hover,
		&:active {
			background: red;
		}
	}
}
.search {
	position: absolute;
	top:$line*1.5;
	right:$line;
}
.offcanvas {
	padding: $line/2 $column;
}
@media only screen and (min-width: $screenSmall) {
	.offcanvas {
		form {
			margin-left:$c8*2;
			width:$c8*4;
			@include wrap;
		}
	}
}