// Floating

.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.clear {
  clear:both;
}

// Text manipulation
.text-left   {
  text-align: left;
}
.text-right  {
  text-align: right;
}
.text-center {
  text-align: center;
}



// Helpful placeholder selectors give us easy access to some nice helpers without fill our code with classes.
// Effortlessly vertically align objects
.vertical-align,
%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

