@import "variables";
@import "functions";
@import "mixins";

// Vendor styles
@import "../vendor/normalize";

// Global styles
@import "../global/helpers";
@import "../global/paragraphs";
@import "../global/headings";
@import "../global/smallprint";
@import "../global/time-stamps";
@import "../global/links";
@import "../global/lists";
@import "../global/borders";
@import "../global/icons";
@import "../global/buttons";
@import "../global/forms";
@import "../global/tables";
@import "../global/animation";

// UI components
@import "../components/quotes";
@import "../components/code";
@import "../components/images";
@import "../components/maps";
@import "../components/videos";
@import "../components/callouts";
@import "../components/drawers";
@import "../components/breadcrumbs";
@import "../components/pagination";
@import "../components/switches";
@import "../components/option-buttons";
@import "../components/vcards";
@import "../components/navigation/horizontal";
@import "../components/navigation/vertical";
@import "../components/navigation/offcanvas";
@import "../components/navigation/tabs";

// UI modules
@import "../modules/header";
@import "../modules/cover";
@import "../modules/layout";
@import "../modules/footer";

// Theme styles
@import "../theme/layout";
@import "../theme/text";
@import "../theme/icons";
@import "../theme/navigation";
@import "../theme/code";
@import "../theme/forms";
@import "../theme/tables";
@import "../theme/buttons";
@import "../theme/special-fields";
@import "../theme/offcanvas";
@import "../theme/callouts";