// INCLUDES
//
// Include the components you need. Hide the ones you don't.

// Base settings and sass-specific styles
@import "variables";
@import "functions";
@import "mixins";
@import "helpers";

// Vendor styles. Include your third-party styles here.
@import "../vendor/normalize";

// Element styles
@import "../elements/typography/paragraphs";
@import "../elements/typography/headings";
@import "../elements/typography/smallprint";
@import "../elements/typography/time-stamps";
@import "../elements/typography/links";
@import "../elements/typography/lists";
@import "../elements/typography/quotes";
@import "../elements/typography/vcards";
@import "../elements/forms/buttons";
@import "../elements/forms/fields";
@import "../elements/forms/switches";
@import "../elements/forms/option-buttons";
@import "../elements/borders";
@import "../elements/animation";

// Components
@import "../components/navigation/horizontal";
@import "../components/navigation/vertical";
@import "../components/navigation/offcanvas";
@import "../components/navigation/tabs";
@import "../components/navigation/pagination";
@import "../components/navigation/breadcrumbs";
@import "../components/media/images";
@import "../components/media/maps";
@import "../components/media/videos";
@import "../components/code";
@import "../components/callouts";
@import "../components/drawers";
@import "../components/forms";
@import "../components/tables";

// Modules
@import "../modules/base";
@import "../modules/header";
@import "../modules/layout";
@import "../modules/footer";

// Theme styles
@import "../theme/layout";
@import "../theme/text";
@import "../theme/navigation";
@import "../theme/code";
@import "../theme/forms";
@import "../theme/tables";
@import "../theme/buttons";
@import "../theme/special-fields";