//Setup Variables for Mixins
$root-n: 16;
$root: $root-n * 1px;
$em: $base * 1;




@mixin font-size($px_value: $base, $baseline: $line-n) {
	$baseline_rem: ($root-n / 1rem);
	font-size: ($px_value * 1px);
	font-size: $px_value / $baseline_rem;
	line-height: ($baseline / $px_value);
}

@mixin vertical-center($element_height) {
	position: fixed;
	top: 50%;
	margin-top: -($element_height / 2); /* Bump the element up by half its height so it's *actually* vertically centered */
}

@mixin input-placeholder($color) {
	&::-webkit-input-placeholder { /* Safari, Chrome */
		color: $color;
	}
	&:-moz-placeholder { /* Firefox 4–18 */
		color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: $color;
	}
}

@mixin cssTriangle($triangleSize, $triangleColor, $triangleDirection) {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: solid   $triangleSize;
	@if ($triangleDirection == top) {
		border-color: $triangleColor transparent transparent transparent;
	}
	@if ($triangleDirection == bottom) {
		border-color: transparent transparent $triangleColor transparent;
	}
	@if ($triangleDirection == left) {
		border-color: transparent transparent transparent $triangleColor;
	}
	@if ($triangleDirection == right) {
		border-color: transparent $triangleColor transparent transparent;
	}
	// .example { @include css-triangle(5px, #fff, bottom); }
}

@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
				 (-o-min-device-pixel-ratio: 2.6/2),
				 (-webkit-min-device-pixel-ratio: 1.3),
				 (min-device-pixel-ratio: 1.3),
				 (min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: url($image);
		background-size: $width $height;
	}
}

@mixin rem($property, $px-values) {
	// Convert the baseline into rems
	$baseline-rem: $root / 1rem;
	// Print the first line in pixel values
	#{$property}: $px-values;
	// If there is only one (numeric) value, return the property/value line for it.
	@if type-of($px-values) == "number" {
		#{$property}: $px-values / $baseline-rem; }
	@else {
		// Create an empty list that we can dump values into
		$rem-values: unquote("");
		@each $value in $px-values {
			// If the value is zero, return 0
			@if $value == 0 {
				$rem-values: append($rem-values, $value); }
			@else {
				$rem-values: append($rem-values, $value / $baseline-rem); } }
		// Return the property and its list of converted values
		#{$property}: $rem-values; }
}

//Gutters
@mixin wrap {
	@include rem(padding-left, $line/2);
	@include rem(padding-right, $line/2);

	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}
@mixin gutter {
	@include rem(padding-left, $line/2);
	@include rem(padding-right, $line/2);
}
@mixin box {
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
		   -o-box-sizing: border-box;
			   box-sizing: border-box;
}


// From Inuit CSS http://inuitcss.com
// Force overly long spans of text to truncate, e.g.:
// `@include truncate(100%);`
//
// Where `$truncation-boundary` is a united measurement.
@mixin truncate($truncation-boundary){
		max-width:$truncation-boundary;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
}
