// HEADINGS

// Modular scales are your friend, my friend: http://modularscale.com  |  https://vimeo.com/17079380

h1 {
  font-family: $sans;

  // Handy for header sub-elements
  > span,
  > small {

  }
}
h2 {
  font-family: $sans;

  > span,
  > small {
    color:$mid-text;
  }

}
h3 {
  font-family: $sans;

  > span,
  > small {

  }
}
h4 {
  font-family: $sans;
}
h5 {
  font-family: $sans;
}
h6 {
  font-family: $sans;
}

hgroup,
.hgroup {

  *:first-child {

  }
  > * {
    margin:0;
  }

}