html {
    font-size: 100%;
    min-height: 100%;
    overflow-y:scroll;
}
section {
    @extend .group;
    position: relative;
}
// Set some simple defaults for sections. Creates margins with a half-gutter on either side.
.container {
    @extend .group;
    position:relative;
    margin: 0 $margin;
}

@media only screen and (min-width: $screenSmall) {
    html {
        font-size: 107.5%;
    }
}

@media only screen and (min-width: $screenXlarge) {
    html {
        font-size: 115%;
    }
}